h2 {
    color: white;
    font-size: 32px;
    text-align: center;
}

h3 {
    color: white;
    font-size: 28px;
    text-align: right;
}

.link {
    color: white;
    font-size: 26px;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.active {
    color: red;
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.greetings {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 500px;
}